html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__top-inner {
  padding-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu__list {
  display: flex;
}

.menu__list-item:not(:first-child) {
  margin-left: 38px;
}

.menu__list-link {
  padding: 0 6px 9px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #373A39;
}